.page-header__shadow {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 96px;
    flex: 0 0 96px;
    width: 82%;
    height: 101px;
    float: right;
}
.fileName
{
    text-align: left;
    padding-left: 10px;
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis; }
.download_click {

}
.folder-icon{
    width: 10%;
}
.file-list-table
{
    width: 95%;
}
.download-link
{
    width: 30%;
    text-align: center;
}
.delete-button
{
    width: 20%;
}
.page-header {
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
    width: calc(100% - (200px + 2 * 40px));
    min-width: 744px;
    background: #fff;
    padding: 0 0 0 40px;
    height: 56px;
}
.page-header__title {
    position: absolute;
    z-index: 8;
}
.page-header__heading {
    font-size: 20px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    color: #1B2733;
}
.top-menu-container {
    margin-right: 0;
    width: calc(100% - 417px);
    min-width: 607px;
    left: inherit;
    margin-left: 40px;
}
.top-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    top: 40px;
    margin-right: 40px;
}
.u-l-fr {
    float: right !important;
}
.search-bar--container {
    position: relative;
    z-index: 1;
    left: 0;
    margin-left: 12px;
    margin-right: 0;
    width: auto;
    height: auto;
}
.search-bar {
    position: static;
    right: 0;
    top: 0;
    width: 216px;
    background: none;
    -webkit-font-smoothing: antialiased;
    color: #25282b;
    -webkit-transition: 0.1s width;
    transition: 0.1s width;
}
.search-bar__input {
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #C1C7CD;
    background: #fff;
    padding: 0;
    position: relative;
    margin: 0;
}
.search-bar__text-input {
    width: calc(100% - 34px);
    margin-left: 34px;
    padding: 0;
    height: 30px;
    border-width: 0;
    font-family: AtlasGrotesk,sans-serif;
    color: #000;
}
.maestro-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}